<h1>Editing Post Attachment</h1>

<%= render 'form' %>


<%= link_to post_attachments_path, class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-left"></i> Show
<% end %>|


<%= link_to post_attachments_path, class: 'btn btn-primary' do %>
  <i class="glyphicon glyphicon-left"></i> Back
<% end %>
